<footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Mongo Scraper: SF Chronicle Edition
            </div>
        </div>
    </footer>