<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <title>Mongo Scraper: SF Chronicle Edition</title>
    
</head>

<body>
  {{{body}}}
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Mongo Scraper: SF Chronicle Edition
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>$(document).ready(function () {
            $('.sidenav').sidenav();
            // $('.parallax').parallax();
        });
    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./javascript/app.js"></script>
</body>

</html>
