body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  nav{
      background-color: black;
  }
  .page-footer{
    background-color: black; 
  }
  .page-footer .container{
    text-align: center; 
    color: white;
  }

.container-fluid{
    width: 100%;
    height:auto;
    margin:0;
    left: 0px;
    top: 200px;
    z-index: auto;
    position: relative;
    text-align: center;
    color: black;
    
  }
.centered {
    top:30%;
    width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px teal;
  }
  .centered p{
      font-size:30px;
      text-align: center;
  }
  main {
    flex: 1 0 auto;
  }
  